<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCUJwWRUz1XP7PWAsJi75gRpzJbEgmX1p4</string>
	<key>GCM_SENDER_ID</key>
	<string>963708835540</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.hopeHarbor</string>
	<key>PROJECT_ID</key>
	<string>hopeharbor</string>
	<key>STORAGE_BUCKET</key>
	<string>hopeharbor.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:963708835540:ios:85bd6fc9b4bf260c954d41</string>
</dict>
</plist>